<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="index" access="permitAll" />
		<intercept-url pattern="login" access="permitAll" />
		<intercept-url pattern="register" access="permitAll" />
		<intercept-url pattern="/pages/index"
			access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMINISTRADOR', 'ROL_VALIDADOR', 'ROL_COMITE')" />
		<intercept-url pattern="/pages/area"
			access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/formulario"
			access="hasAnyRole('ROLE_ROOT', 'ROL_VALIDADOR', 'ROL_COMITE')" />
		<intercept-url pattern="/pages/reporte"
			access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/roles"
			access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMINISTRADOR')" />
		<intercept-url pattern="/pages/users"
			access="hasAnyRole('ROLE_ROOT', 'ROL_VALIDADOR', 'ROL_COMITE')" />
		<form-login login-page="/login"
			login-processing-url="/loginValidate"
			default-target-url="/pages/index"
			authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />
		<logout logout-url="/logout" />
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="customUserDetailsService">
			<password-encoder hash="sha" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customUserDetailsService"
		class="org.udistrital.ojs.custom.CustomUserDetailsService" />

</beans:beans>