.tm_pb_builder #tm_builder_outer_content .tm_pb_section_6 {
	background-image: url(../resources/images/background-author.jpg);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 {
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_14 {
	padding-left: 20.5%;
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7 {
	height: 17px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_8 {
	margin-bottom: 44px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_9 {
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7:before {
	border-top-width: 17px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_row_5 {
	padding-top: 83px;
	padding-bottom: 121px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_2 .tm_pb_toggle_title:before
	{
	color: #2978d3;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_1.tm_pb_toggle_open h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_1.tm_pb_toggle_close h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_1 .tm_pb_toggle_title:before
	{
	color: #2978d3;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_2.tm_pb_toggle_close h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_2.tm_pb_toggle_open h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_3.tm_pb_toggle_open h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_3.tm_pb_toggle_close h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_3 .tm_pb_toggle_title:before
	{
	color: #2978d3;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_15 {
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_video_0 .tm_pb_video_play:before
	{
	color: #f7f7f7;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_4.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_3.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_3.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_2.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_4.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_5.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_11 {
	margin-bottom: 38px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_18 {
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_5.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_2.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_1.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_9 {
	margin-bottom: 28px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_17 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_8 {
	background-image: url(../resources/images/form-bkg.jpg);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_16 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_11 {
	font-size: 16px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_10 {
	margin-bottom: 24px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_1.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_0.tm_pb_social_icon a:hover
	{
	color: #2978d3;
	background-color: rgba(41, 120, 211, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow_network_0.tm_pb_social_icon a
	{
	color: #b2b2b2;
	background-color: rgba(178, 178, 178, 0);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_0.tm_pb_toggle_open h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_0.tm_pb_toggle_close h5.tm_pb_toggle_title
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0.tm_pb_blurb h4,
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0.tm_pb_blurb h4 a
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_3 {
	margin-bottom: 48px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 {
	color: #888888 !important;
	padding-right: 50px !important;
	padding-left: 50px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0.tm_pb_blurb {
	color: #888888 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0 .tm-pb-icon {
	font-size: 60px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1.tm_pb_blurb h4,
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1.tm_pb_blurb h4 a
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0 .tm-pb-icon:before
	{
	font-family: "linearicon" !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
	margin-bottom: 27px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
	border-top-width: 14px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
	height: 14px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 {
	max-width: 540px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
	padding-left: 24px;
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 p {
	line-height: 1.9em;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 {
	font-size: 18px;
	color: #000000 !important;
	line-height: 1.9em;
	max-width: 540px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_custom_book_0 {
	font-size: 13px;
	margin-top: -30px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
	padding-left: 23px;
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
	margin-bottom: 37px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1.tm_pb_blurb {
	color: #888888 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1 .tm-pb-icon {
	font-size: 60px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 {
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_image_0 {
	position: absolute;
	bottom: 0;
	margin-left: 0;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 {
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_6 {
	color: #888888 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_image_1 {
	margin-left: -132px !important;
	max-width: 712px;
	margin-left: 0;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 {
	padding-left: 22px;
	order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_accordion_item_0 .tm_pb_toggle_title:before
	{
	color: #2978d3;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6:before {
	border-top-width: 16px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6 {
	height: 16px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_5 {
	margin-bottom: 9px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 {
	font-size: 18px;
	color: #888888 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2.tm_pb_blurb {
	color: #888888 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2.tm_pb_blurb h4,
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2.tm_pb_blurb h4 a
	{
	color: #000000 !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 {
	order: 3;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1 .tm-pb-icon:before
	{
	font-family: "linearicon" !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2 .tm-pb-icon {
	font-size: 60px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2 .tm-pb-icon:before
	{
	font-family: "linearicon" !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_4 {
	margin-bottom: 30px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 {
	padding-top: 135px;
	padding-bottom: 130px;
	order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_2 {
	background-image: url(../resources/images/background-author.jpg);
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_0 {
	background-color: #fafafa;
	background-image: url(../resources/images/site-header.jpg);
	padding-top: 0px;
	padding-bottom: 4px;
}

@media only screen and ( min-width: 991px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_7 {
		padding-bottom: 68px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_9 {
		padding-top: 86px;
		padding-bottom: 22px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_10 {
		padding-top: 86px;
		padding-bottom: 121px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_6 {
		padding-top: 106px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_4 {
		padding-top: 118px;
		padding-bottom: 99px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_1 {
		padding-top: 117px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_2 {
		padding-bottom: 74px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
		padding-top: 308px;
		padding-bottom: 101px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_1 {
		padding-top: 308px;
		padding-bottom: 101px;
	}
}

@media only screen and ( max-width: 991px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_7 {
		padding-bottom: 50px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_6 {
		padding-top: 80px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_14 {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 6.5%;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_10 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_17 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_18 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_16 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_9 {
		padding-top: 50px;
		padding-bottom: 22px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_15 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_1 {
		padding-top: 80px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_0 .tm-pb-icon {
		font-size: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_4 {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 {
		padding-top: 45px;
		padding-bottom: 34px;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_2 .tm-pb-icon {
		font-size: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_blurb_1 .tm-pb-icon {
		font-size: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 {
		order: 3;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
		padding-top: 294px;
		padding-bottom: 60px;
	}
}

@media only screen and ( max-width: 767px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_7 {
		padding-bottom: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_6 {
		padding-top: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_14 {
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 6.5%;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_10 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_17 {
		padding-bottom: 44px;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_18 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_16 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_9 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_15 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_1 {
		padding-top: 50px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_2 {
		padding-top: 45px;
		padding-bottom: 30px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
		border-top-width: 42px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
		height: 42px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_4 {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_image_0 {
		display: none !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 {
		order: 3;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 {
		padding-top: 50px;
		padding-bottom: 30px;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
		padding-top: 40px;
		padding-bottom: 50px;
		display: none !important;
	}
}

@media only screen and ( min-width: 992px ) and ( max-width: 1440px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_14 {
		padding-left: 10.5%;
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_7:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_17 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_18 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_16 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_15 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_8 {
		margin-bottom: 15px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 {
		order: 2;
	}
	14
	px {
		font-size: 51px;
	}
	1
	.7em {
		line-height: 2px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
		border-top-width: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
		height: 1px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 {
		order: 1;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 {
		order: 3;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
		order: 2;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
		order: 1;
	}
}

@media ( max-width : 991px) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_image_1 {
		margin-left: -39px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_8 {
		margin-bottom: 15px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 {
		font-size: 14px;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_3 {
		margin-bottom: 20px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
		margin-bottom: 20px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 {
		padding-right: 25px !important;
		padding-left: 25px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
		margin-bottom: 40px !important;
	}
}

@media ( max-width : 767px) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_image_1 {
		margin-left: 0px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_8 {
		margin-bottom: 15px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_3 {
		margin-bottom: 20px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
		margin-bottom: 20px !important;
	}
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
		margin-bottom: 42px !important;
	}
}